langchain
langchain_community
langchain_openai
langchain-anthropic
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-experimental

anthropic
openai

nltk==3.8.1
pypdfium2
pypdf
rapidocr-onnxruntime
sentence-transformers
unstructured
unstructured[pdf]

python-pptx
python-magic

faiss-cpu
grandalf 
streamlit
